<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notice</title>
    <style>
      @page { size: A4; margin: 0; } 
      
      body { 
        font-family: Arial, sans-serif;
        margin: 0; 
        padding: 0; 
      }

      .letter-head { 
        text-align: center; 
        width: 100%;
        overflow: hidden; 
      } 

      .letter-head img { 
        width: 100%; 
        height: 20rem; 
        object-fit: cover;
      }

      .content { 
        margin: 20px; 
      }

      .footer { 
        margin-top: 50px; 
        margin: 20px; 
      }

      /* Aligning the date and notice content */
      .date{ 
        display: flex; 
        justify-content: space-between; 
        align-items: center;
      }
      .notice{
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .notice p { 
        font-size: 1.5rem; 
        text-align: center;
        margin-top: 20px;
      }

      /* Style for justified paragraphs */
      .content p { 
        text-align: justify; 
        margin-bottom: 1rem; 
      }
    </style>
  </head>
  <body>

    <!-- Letterhead Image -->
    <div class="letter-head">
      <img src="${process.env.REACT_APP_URL}/letterhead.jpg" alt="Letterhead" />
    </div>

    <!-- Letter Body -->
    <div class="content">
      <div class="notice">
        <p><b>Notice</b></p>
      </div>
      <div class="date">
        <p>Ref. No.: VPPCOE&VA/T&P Office/2024-25</p>
        <!-- Date aligned to the right -->
        <p>Date: {{date}}</p>
      </div>

      <p><b>Event Name:</b> {{eventName}}</p>
      <p><b>Event Notice:</b> {{eventNotice}}</p>
    </div>

    <!-- Footer -->
    <div class="footer">
      <b>
        <p>Swapnil Desai<br />
        Head, T&P Department,<br />
        VPPCOE&VA</p>
      </b>
    </div>

  </body>
</html>
